# map, filter, and reduce
- Python provides several functions which enable a `functional approach` to programming.

- Functional programming is all about `expressions`. 

- Expression oriented functions of Python provides are:

    - map(aFunction, aSequence)
    - filter(aFunction, aSequence)
    - reduce(aFunction, aSequence)
    - lambda
    - list comprehension

-------------------------------------
#### map - map(aFunction, aSequence)
-------------------------------------------
One of the common things we do with list and other sequences is applying an operation to each item and collect the result.

For example, updating all the items in a list can be done easily with a for loop:

In [78]:
items   = [1, 2, 3, 4, 5]
squared = []

for x in items:
    squared.append(x ** 2)

In [79]:
squared

[1, 4, 9, 16, 25]

**Example : 1**

Since this is such a common operation, actually, we have a built-in feature that does most of the work for us.

The `map(aFunction, aSequence)` function applies a passed-in function to each item in an iterable object and returns a list containing all the function call results.

In [3]:
items = [1, 2, 3, 4, 5]

In [80]:
def sqr(x): 
    return x ** 2

In [81]:
map(sqr, items)

In [83]:
list(map(sqr, items))

[1, 4, 9, 16, 25]

In [84]:
for each in map(sqr, items):
    print(each)

1
4
9
16
25

- We passed in a `user-defined function` applied to each item in the list. 

- `map` calls `sqr` on each list item and collects all the return values into a new list.

- Because map expects a function to be passed in, it also happens to be one of the places where lambda routinely appears:

In [85]:
list(map((lambda x: x **2), items))

[1, 4, 9, 16, 25]

**Example : 2**

While we still use `lamda` as a `aFunction`, we can have a list of functions as aSequence:

In [86]:
import numpy

In [87]:
def square(x):
        return (x**2)
    
def cube(x):
        return (x**3)

def sqroot(x):
        return (numpy.sqrt(x))

In [88]:
funcs = [square, cube, sqroot]

In [89]:
for r in range(5):
    value = map(lambda x: x(r), funcs)
    print (list(value))

[0, 0, 0.0]
[1, 1, 1.0]
[4, 8, 1.4142135623730951]
[9, 27, 1.7320508075688772]
[16, 64, 2.0]

**Example: 3**

In [90]:
def to_upper_case(s):
    return str(s).upper()

In [91]:
def print_iterator(it):
    for x in it:
        print(x, end=' ')
        
    print('')  # for new line

In [92]:
list( map(to_upper_case, 'abc'))

['A', 'B', 'C']

In [93]:
# map() with string
map_iterator = map(to_upper_case, 'abc')

print(type(map_iterator))
print_iterator(map_iterator)

<class 'map'>
A B C

In [94]:
list(map(to_upper_case, (1, 'a', 'abc')))

['1', 'A', 'ABC']

In [95]:
list(map(to_upper_case, ['x', 'a', 'abc']))

['X', 'A', 'ABC']

**Python map() multiple arguments**

In [96]:
# map() with multiple iterable arguments
list_numbers  = [1, 2, 3, 4]
tuple_numbers = (5, 6, 7, 8)

map_iterator  = map(lambda x, y: x * y, list_numbers, tuple_numbers)

print_iterator(map_iterator)

5 12 21 32

------------------------------
#### filter(function, sequence)
---------------------------

- function that tests if each element of a sequence true or not.

- sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

- __Returns__
    - returns an iterator that is already filtered.

As the name suggests filter extracts each element in the sequence for which the function returns True. 

The reduce function is a little less obvious in its intent. This function reduces a list to a single value by combining elements via a supplied function

Because they return iterables, range and filter both require list calls to display all their results in Python 3.0.

In [97]:
r = list(range(-5, 5))
r

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

**Example :1** Qs : Extract numbers < 0 from r

In [98]:
# filter the values < 0
result = []

for x in r:
	if x < 0:
		result.append(x)

result

[-5, -4, -3, -2, -1]

In [99]:
list( filter((lambda x: x < 0), r))

[-5, -4, -3, -2, -1]

In [102]:
# sequence 
sequence = ['d', 'a', 't', 'j', 'k', 'o', 'p', 'l']

**Example :2** Qs : extract only the vowels

In [103]:
# function that filters vowels 
def fun(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    
    if (variable in letters): 
        return True
    else: 
        return False

In [104]:
# using filter function 
filtered = filter(fun, sequence) 

list(filtered)

['a', 'o']

**Example :3** with lambda functions

In [31]:
# a list contains both even and odd numbers.  
seq = [0, 1, 2, 3, 5, 8, 13]

In [32]:
# result contains odd numbers of the list 
result = filter(lambda x: x % 2, seq) 
print(list(result))

[1, 3, 5, 13]

**Example :4** Here is another use case for filter(): finding intersection of two lists:

In [105]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

In [106]:
list(filter(lambda x: x in a, b))

[2, 3, 5, 7]

**Example :5**

In [107]:
creature_names = ['Sammy', 'Ashley', 'Jo', 'Olly', 'Jackie', 'Charlie']

To filter this list to find the names of our aquarium creatures that start with a vowel, we can run the following lambda function:

In [108]:
list(filter(lambda x: x[0].lower() in 'aeiou', creature_names))

['Ashley', 'Olly']

------------------------
#### reduce
--------------------------------

- The reduce is in the `functools` in Python 3.0. 

- `reduce` applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument. 

- It returns a single result:

In [109]:
from functools import reduce

#### Example 1: sum use case

In [110]:
numbers = [1, 2, 3, 4]

total   = 0

for num in numbers:
    total += num

total

10

- The for `loop` iterates over every value in numbers and `accumulates` them in `total`. 

- The final result is the sum of all the values, which in this example is 10. A variable used like `total` in this example is sometimes called an `accumulator`.

- To implement this operation with `reduce()`, you have several options. 

    - A `user-defined function`
    - A `lambda` function
    - A function called `operator.add()`

**Using user defined function**

In [111]:
def my_add(a, b):
    return a + b

In [112]:
my_add(1, 2)

3

In [113]:
numbers = [1, 2, 3, 4]

In [114]:
reduce(my_add, numbers)

10

The call to `reduce()` applies `my_add()` to the items in numbers to compute their `cumulative` sum. The final result is 10, as expected.

**Using Lambda function**

In [115]:
reduce( (lambda x, y: x + y), [1, 2, 3, 4] )

10

The `lambda` function takes two arguments and returns their sum. `reduce()` applies the `lambda` function `in a loop` to compute the `cumulative sum` of the items in numbers.

**Another example - string concatenation**

In [116]:
L = ['Testing ', 'shows ', 'the ', 'presence', ', ','not ', 'the ', 'absence ', 'of ', 'bugs']

reduce( (lambda x,y:x+y), L)

'Testing shows the presence, not the absence of bugs'

**Using operator.add function**

In [117]:
from operator import add
from functools import reduce

In [118]:
add(1, 2)

3

In [119]:
numbers = [1, 2, 3, 4]

reduce(add, numbers)

10

- Since `add()` is `written in C` and `optimized for efficiency`, it may be your `best choice` when using reduce() for solving the sum use case. 

- Note that the use of operator.add() is also more readable than using a lambda function.

- The `sum use case` is so common in programming that Python, since version 2.3, has included a dedicated `built-in` function, `sum()`, to solve it . sum() is declared as sum(iterable[, start]).

- `start` is an `optional` argument to sum() and defaults to 0. 

- The function adds the value of start to the items of iterable from left to right and returns the total. Take a look at the following example:

In [56]:
numbers = [1, 2, 3, 4]

sum(numbers)

10

#### Example 2: product use case

In [120]:
numbers = [1, 2, 3, 4]

Qs : Get the product of each number with succesive one

In [121]:
net_product = 1

for num in numbers:
    net_product = net_product * num

print(net_product)

24

In [122]:
reduce( (lambda x,y:x*y), numbers)

24

**Using user defined function**

In [123]:
def my_prod(a, b):
     return a * b

In [124]:
reduce(my_prod, numbers)

24

**Using use operator.mul()**

In [125]:
from operator import mul
from functools import reduce

numbers = [1, 2, 3, 4]

reduce(mul, numbers)

24

**Example 3: Finding the Minimum and Maximum Value**

In [126]:
numbers = [3, 5, 2, 4, 7, 0, 1]

# Minimum
min_value = numbers[0]

for num in numbers:
    if num < min_value:
        min_value = num

min_value

0

In [127]:
numbers = [3, 5, 2, 4, 7, 0, 1]

# Maximum
max_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num

max_value

7

Both loops `iterate` over the items in `numbers` and update the value of `min_value` or `max_value` according to the result of successive comparisons.

**Usinf user defined function**

In [128]:
# Minimum
def my_min_func(a, b):
    return a if a < b else b

# Maximum
def my_max_func(a, b):
    return a if a > b else b

In [129]:
numbers = [3, 5, 2, 4, 7, 1]

reduce(my_min_func, numbers)

1

In [76]:
reduce(my_max_func, numbers)

7

**Using lambda function**

In [130]:
# Minimum
print(reduce(lambda a, b: a if a < b else b, numbers))

# Maximum
print(reduce(lambda a, b: a if a > b else b, numbers))

1
7