In [49]:
from IPython.display import Image

------------------------------
## Tuples data structures
-----------------------

- A `tuple` in Python is `similar` to a `list`. 

- The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

#### Creating a Tuple
- A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. 

- The parentheses are optional, however, it is a good practice to use them.

- A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [1]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

# create a tuple without using round brackets
py_tuple = 33, 55, 77
print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)

A blank tuple: ()
A tuple set without parenthesis: (33, 55, 77) type: <class 'tuple'>
A tuple of numbers: (33, 55, 77)
A tuple of mixed numbers: (33, 3.3, (3+3j))
A tuple of mixed data types: (33, '33', [3, 3])
A tuple of tuples: (('x', 'y', 'z'), ('X', 'Y', 'Z'))

In [3]:
# creating a tuple from a set
py_tuple = tuple({33, 55 , 77})
type(py_tuple)

py_tuple

(33, 77, 55)

In [4]:
# creating a tuple from a list
py_tuple = tuple([33, 55 , 77])
type(py_tuple)

py_tuple

(33, 55, 77)

In [5]:
# A single element surrounded by parenthesis will create a string instead of a tuple
py_tuple = ('single')
type(py_tuple)

str

In [6]:
# You need to place a comma after the first element to create a tuple of size "one"
py_tuple = ('single',)
type(py_tuple)

tuple

In [7]:
# You can use a list of one element and convert it to a tuple
py_tuple = tuple(['single'])
type(py_tuple)

tuple

In [8]:
# You can use a set of one element and convert it to a tuple
py_tuple = tuple({'single'})
type(py_tuple)

tuple

#### accessing first element

-  Via Indexing

In [10]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

In [11]:
print(my_tuple[0])
print(my_tuple[1])

p
e

In [12]:
vowel_tuple = ('a','e','i','o','u')

print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 1])

The tuple: ('a', 'e', 'i', 'o', 'u') Length: 5
OP(vowel_tuple[length-1]): u

Index out of range will give errors

In [14]:
print(vowel_tuple[len(vowel_tuple)+1])

IndexError: tuple index out of range

In [15]:
# Indexing with a non-integer index will raise the TypeError
print(vowel_tuple[0.0])

TypeError: tuple indices must be integers or slices, not float

In [17]:
my_tuple = (
            ('jan', 'feb', 'mar'), 
            ('sun', 'mon', 'wed')
           )

# Accessing elements from the first sub tuple
print(my_tuple[0][2])

# Accessing elements from the second sub tuple
print(my_tuple[1][2])

mar
wed

#### Negative Indexing

- The index of -1 refers to the last item, -2 to the second last item and so on.

In [2]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

#### Slicing
- We can access a range of items in a tuple by using the slicing operator colon `:`

In [3]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
print(my_tuple[1:4])

# elements beginning to 2nd
print(my_tuple[:-7])

# elements 8th to end
print(my_tuple[7:])

# elements beginning to end
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

#### Changing a Tuple
- Unlike `lists`, `tuples are immutable`.

- This means that elements of a `tuple cannot be changed` once they have been assigned. 
- But, if the `element is itself a mutable` data type like a `list`, its nested items can be changed.

- We can also assign a tuple to different values (reassignment).

In [4]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
print(my_data)

my_data[0] = 101

(1, [9, 8, 7], 'World')

TypeError: 'tuple' object does not support item assignment

In [24]:
# changing the tuple element, which are mutable
my_data = (1, [9, 8, 7], "World")
print(my_data)

my_data[1][2] = 99
print(my_data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

#### Deleting a Tuple
- As discussed above, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple.

- Deleting a tuple entirely, however, is possible using the keyword del.

In [27]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6)

# not possible ,  error
del my_data[2]

TypeError: 'tuple' object doesn't support item deletion

In [28]:
# deleting entire tuple is possible
del my_data

#### Tuple Methods
Methods that add items or remove items are not available with tuple. Only the following two methods are available.

In [5]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

#### Tuple Membership Test
- We can test if an item exists in a tuple or not, using the keyword `in`.

In [30]:
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

#### Iterating a tuple
- We can use a for loop to iterate through each item in a tuple.

In [31]:
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

--------------------------
#### Exercises
---------------------------

##### 1. Unpack the following tuple into 4 variables

In [32]:
aTuple = (10, 20, 30, 40)

In [33]:
a, b, c, d = aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

##### 2. Swap the following two tuples

In [34]:
tuple1 = (11, 22)
tuple2 = (99, 88)

In [35]:
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

##### 3. Copy element 44 and 55 from the following tuple into a new tuple

In [36]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [37]:
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

##### 4. Modify the first item (22) of a list inside a following tuple to 222

In [38]:
tuple1 = (11, [22, 33], 44, 55)

In [39]:
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

##### 5. Counts the number of occurrences of item 50 from a tuple

In [40]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

##### 6. Check if all items in the following tuple are the same

In [44]:
tuple1 = (45, 45, 45, 4)

n = len(tuple1)

total = 0

for each_ele in tuple1:
    total += each_ele
    
if total//n == tuple1[0] and total%n ==0:
    print('all elements in tuple are SAME')
else:
    print('all elements in tuple are NOT SAME')

all elements in tuple are NOT SAME

##### 7. implement some basic statistical algorithms

|Purchase Date	|Purchase Price	|Shares	|Symbol	|Current Price|
|---------------|---------------|------|-------|--------------|
|25 Jan 2001|	43.50|	25|	CAT|	92.45|
|25 Jan 2001|	42.80|	50|	DD|	51.19|
|25 Jan 2001|	42.10|	75|	EK|	34.87|
|25 Jan 2001|	37.58|	100|	GM|	37.58|

In [6]:
portfolio= [ 
             ( "25-Jan-2001", 43.50, 25, 'CAT', 92.45 ),
             ( "25-Jan-2001", 42.80, 50, 'DD', 51.19 ),
             ( "25-Jan-2001", 42.10, 75, 'EK', 34.87 ),
             ( "25-Jan-2001", 37.58, 100, 'GM', 37.58 )
]

- determine the total purchase price of the portfolio

In [7]:
total_portfolio_cost = 0

for each_stock in portfolio:
    total_portfolio_cost = total_portfolio_cost + each_stock[1]* each_stock[2]

print("portfolio cost : {}".format(total_portfolio_cost))

portfolio cost : 10143.0

- determine the total amount gained or lost.

In [15]:
total_portfolio_cost  = 0
total_portfolio_value = 0

for each_stock in portfolio:
    total_portfolio_cost  = total_portfolio_cost  + each_stock[1]* each_stock[2]
    total_portfolio_value = total_portfolio_value + each_stock[1]* each_stock[4]

print("portfolio cost : {:12.4f}, \ncurrent value  : {:12.4f}, gain/loss = {:.2f}".format(total_portfolio_cost, total_portfolio_value, total_portfolio_value-total_portfolio_cost))

portfolio cost :   10143.0000,
current value  :    9092.7904, gain/loss = -1050.21

#### Summarize

In [1]:
# Creating a Tuple
person_tuple = ("John", 30, "New York")

In [2]:
# Accessing Values using Indexing
print("Name:", person_tuple[0])  # Output: "John"
print("Age:", person_tuple[1])   # Output: 30

Name: John
Age: 30

In [3]:
# Tuple Unpacking
name, age, city = person_tuple
print("Name:", name)   # Output: "John"
print("Age:", age)     # Output: 30
print("City:", city)   # Output: "New York"

Name: John
Age: 30
City: New York

In [4]:
# Tuple Length (Number of elements in the tuple)
num_items = len(person_tuple)
print("Number of Items in Tuple:", num_items)  # Output: 3

Number of Items in Tuple: 3

In [5]:
# Concatenating Tuples
more_info = ("Engineer", "male")
all_info  = person_tuple + more_info
print("All Info:", all_info)  # Output: ("John", 30, "New York", "Engineer", "male")

All Info: ('John', 30, 'New York', 'Engineer', 'male')

In [6]:
# Checking for Element Existence in a Tuple
print("John" in person_tuple)  # Output: True
print("Female" not in person_tuple)  # Output: True

True
True

In [7]:
# Counting Occurrences of an Element in a Tuple
num_occurrences = person_tuple.count("John")
print("Occurrences of 'John':", num_occurrences)  # Output: 1

Occurrences of 'John': 1

In [8]:
# Slicing Tuples
name_and_age = person_tuple[:2]
print("Name and Age:", name_and_age)  # Output: ("John", 30)

Name and Age: ('John', 30)

In [9]:
# Nested Tuples
nested_tuple = (1, 2, ("apple", "banana"))
print(nested_tuple[2][0])  # Output: "apple"

apple

In [10]:
# Using a Tuple as a Key in a Dictionary
person_info = {
    ("John", 30): "New York",
    ("Alice", 25): "California"
}
print(person_info[("John", 30)])  # Output: "New York"

New York

- Tuples are used to represent fixed collections of items, and their immutability ensures data integrity and prevents accidental modifications after creation.
- Tuples offer faster access times compared to lists due to their immutability and fixed size.
- Tuples can be used as keys in dictionaries because of their immutability and hashability, making them suitable for data mapping.
- Tuples can also be elements in sets, providing the benefit of unique collections of immutable items.
- Tuples are valuable in scenarios where data integrity, consistency, and stability are crucial, as their content cannot be accidentally changed.