In [1]:
from IPython.display import Image

--------------
#### Datetime
-----------------------

#### Year

In [1]:
import numpy as np
from datetime import datetime

##### Example 1 -  specify time as a year

In [2]:
year=np.datetime64('2019')
print(year)

2019

We can look at the datatype of `year`

In [4]:
print(year.dtype)

datetime64[Y]

##### Example 2 - Difference in years

In [5]:
year1 = np.datetime64('2016')
year2 = np.datetime64('2021')

diffyear = year2 - year1

print(diffyear)

5 years

We can look at the datatype of `diffyear`

In [6]:
print(diffyear.dtype)

timedelta64[Y]

- We see that this `difference` in type has a different data type, `timedelta64`. 

- Both the `year` and the `difference between years` have the format in years. 

- The difference can be added to year2 to give a new variable year3

In [7]:
year3=year2 + diffyear
print(year3)

2026

We can have a look at the datatype using:

In [8]:
print(year3.dtype)

datetime64[Y]

A timedelta64 variable can also directly be created for example:

In [9]:
duration=np.timedelta64(2)

In [10]:
print(duration.dtype)

timedelta64

In [11]:
year4 = year1 + duration

print(year4)
print(year4.dtype)

2018
datetime64[Y]

#### Year-Month

- To get the months we use a dash `â€“` to separate the `year` and the `month`

- other symbols such as / do not work in this case. 

- The month has to expressed as a 2 digit number. Using 1 opposed to 01 for January will throw up an error:

In [12]:
yearmonth = np.datetime64('2019-01')

print(yearmonth)

2019-01

In [13]:
print(yearmonth.dtype)

datetime64[M]

##### Example

In [14]:
yearmonth1 = np.datetime64('2017-03')
print(yearmonth1)
print(yearmonth1.dtype)

yearmonth2 = np.datetime64('2021-01')
print(yearmonth2)
print(yearmonth2.dtype)

2017-03
datetime64[M]
2021-01
datetime64[M]

In [14]:
duration2 = yearmonth2 - yearmonth1
print(duration2)
print(duration2.dtype)

46 months
timedelta64[M]

we can define timedelta in terms of month

In [15]:
duration3 = np.timedelta64(2,'M')

print(duration3)
print(duration3.dtype)

2 months
timedelta64[M]

define timedelta in another way (months)

In [16]:
duration4 = np.timedelta64(2,'M') + np.timedelta64(5,'Y')

print(duration4)
print(duration4.dtype)

62 months
timedelta64[M]

#### Years-Months-Days (YYYY-MM-DD)

In [17]:
yearmonthday1 = np.datetime64('1996-05-27')

print(yearmonthday1)
print(yearmonthday1.dtype)

1996-05-27
datetime64[D]

In [18]:
yearmonthday2 = np.datetime64('2001-05-04')

print(yearmonthday2)
print(yearmonthday2.dtype)

2001-05-04
datetime64[D]

In [19]:
duration5 = yearmonthday2 - yearmonthday1

print(duration5)
print(duration5.dtype)

1803 days
timedelta64[D]

#### Inconsistencies in Time Measurements

Note if a duration is expressed in terms of [`months` and `days`] or [`years` and `days`] the following error message shows up:

In [20]:
duration5 = np.timedelta64(1,'Y') + np.timedelta64(1,'M') + np.timedelta64(1,'D')

TypeError: Cannot get a common metadata divisor for Numpy datetime metadata [M] and [D] because they have incompatible nonlinear base time units.

This is due to the inconsistency of the number of days in a month and the number of days in a yearâ€¦ . 

In other words the units years are (365Â±1 days) and months (30Â±2 days) don't have the same accuracy as the units days.

#### Years-Months-Days-TimeHours (YYYY-MM-DDThh)

- The date is separated from the time by using a `T`. i.e. in the format 'YYYY-MM-DDThh'

In [22]:
yearmonthdayhour1 = np.datetime64('1996-05-27T15')

print(yearmonthdayhour1)
print(yearmonthdayhour1.dtype)

1996-05-27T15
datetime64[h]

In [23]:
yearmonthdayhour2 = np.datetime64('2001-05-04T10')

print(yearmonthdayhour2)
print(yearmonthdayhour2.dtype)

2001-05-04T10
datetime64[h]

In [24]:
duration7 = yearmonthdayhour2 - yearmonthdayhour1

print(duration7)
print(duration7.dtype)

43267 hours
timedelta64[h]

- Note that for `hours`, the dtype is `lower case h` opposed to the upper case `Y`, `M` and `D` for years, months and days. 

- This `distinction` using upper case for the date and lower case for the time is `deliberate` to distinguish `months` abbreviated `M` from `minutes` abbreviated `m`.

- A duration can be expressed in terms of Days and Hours as a Day is exactly 24 Hours.

In [25]:
duration8 = np.timedelta64(1,'D') + np.timedelta64(1,'h')

print(duration8)
print(duration8.dtype)

25 hours
timedelta64[h]

In [26]:
duration9 = np.timedelta64(1,'Y') + np.timedelta64(1,'M') + np.timedelta64(1,'D') + np.timedelta64(1,'h')

TypeError: Cannot get a common metadata divisor for Numpy datetime metadata [M] and [D] because they have incompatible nonlinear base time units.

#### Years-Months-Days-TimeHours:Minutes (YYYY-MM-DDThh:mm)

- we use a : to split the hours `hh` and the minutes `mm`

In [26]:
yearmonthdayhourmin1 = np.datetime64('1996-05-27T15:13')

print(yearmonthdayhourmin1)
print(yearmonthdayhourmin1.dtype)

1996-05-27T15:13
datetime64[m]

In [38]:
yearmonthdayhourmin2 = np.datetime64('2001-05-04T10:30')

print(yearmonthdayhourmin2)
print(yearmonthdayhourmin2.dtype)

2001-05-04T10:30
datetime64[m]

In [40]:
duration9 = yearmonthdayhourmin2 - yearmonthdayhourmin1

print(duration9)
print(duration9.dtype)

2596037 minutes
timedelta64[m]

A duration of Days, hours and minutes can be created.

In [41]:
duration10 = np.timedelta64(1,'D') + np.timedelta64(1,'h') + np.timedelta64(1,'m')

print(duration10)
print(duration10.dtype)

1501 minutes
timedelta64[m]

#### Years-Months-Days-TimeHours:Minutes:Seconds (YYYY-MM-DDThh:mm:ss)

In [42]:
yearmonthdayhourminutesecond1 = np.datetime64('2019-08-19T20:01:01')
print(yearmonthdayhourminutesecond1)
print(yearmonthdayhourminutesecond1.dtype)

yearmonthdayhourminutesecond2 = np.datetime64('2019-08-19T20:05:02')
print(yearmonthdayhourminutesecond2)
print(yearmonthdayhourminutesecond2.dtype)

duration11 = yearmonthdayhourminutesecond1 - yearmonthdayhourminutesecond2
print(duration11)
print(duration11.dtype)

2019-08-19T20:01:01
datetime64[s]
2019-08-19T20:05:02
datetime64[s]
-241 seconds
timedelta64[s]

A duration consisting of Days, hours, minutes and seconds can be created.

In [43]:
duration12 = np.timedelta64(1,'D') + np.timedelta64(1,'h') + np.timedelta64(1,'m') + np.timedelta64(1,'s')

print(duration12)
print(duration12.dtype)

90061 seconds
timedelta64[s]

#### Date Times Specified to Units Below a Second

In [44]:
timetoms1 = np.datetime64('2019-08-19T20:01:01.001')
print(timetoms1)
print(timetoms1.dtype)

timetoms2 = np.datetime64('2019-08-19T20:05:02')
print(timetoms2)
print(timetoms2.dtype)

duration13 = timetoms1 - timetoms2
print(duration13)
print(duration13.dtype)

2019-08-19T20:01:01.001
datetime64[ms]
2019-08-19T20:05:02
datetime64[s]
-240999 milliseconds
timedelta64[ms]

|abbreviation	|name	        |time in s|
|---------------|-------        |---------|
|ms             |	millisecond	|0.001|
|us             |	microsecond	|0.000 001|
|ns             |	nanosecond	|0.000 000 001|
|ps             |	picosecond	|0.000 000 000 001|
|fs             |	femtosecond	|0.000 000 000 000 001|
|as             |	attosecond	|0.000 000 000 000 000 001|

These abbreviations can be used within duration

In [45]:
duration14=np.timedelta64(1,'D') + np.timedelta64(1,'h') + np.timedelta64(1,'m') + np.timedelta64(1,'s') + np.timedelta64(1,'ms') + np.timedelta64(1,'us')
print(duration14)
print(duration14.dtype)

90061001001 microseconds
timedelta64[us]

#### Python datetime Classes

- the 5 main object classes that are used in the `datetime` module. 

    - `datetime` â€“ Allows us to manipulate times and dates together (month, day, year, hour, second, microsecond).
    - `date` â€“ Allows us to manipulate dates independent of time (month, day, year).
    - `time` â€“ Allows us to manipulate time independent of date (hour, minute, second, microsecond).
    - `timedelta` â€” A `duration` of time used for manipulating dates and measuring.
    - `tzinfo` â€” An abstract class for dealing with time zones.

In [47]:
# import datetime class from datetime module
from datetime import datetime

In [51]:
datetime.now()

datetime.datetime(2021, 1, 16, 20, 45, 10, 321159)

In [54]:
# get current date
datetime_object = datetime.now()

print(datetime_object)
print('Type :- ', type(datetime_object))

2021-01-16 20:46:01.973797
Type :-  <class 'datetime.datetime'>

- We can see from the results above that datetime_object is indeed a `datetime` object of the `datetime` class. 

- This includes the year, month, day, hour, minute, second, and microsecond.

#### Extract Year and Month from the Date
- `date` objects are just like `datetime` without the `time` data, 
- `time` objects are just like `datetime` without the `date` data.

- in most data sets, date and time information is stored in `string` format! 

- Also, we may not want all of this date and time data â€” if weâ€™re doing something like a monthly sales analysis, breaking things down by microsecond isnâ€™t going to be very useful.

- So now, letâ€™s start digging into a `common task in data science`: extracting only the elements that we actually want from a `string` using `datetime`.

#### Handling Date and Time Strings with `strptime()` and `strftime()`

- `datetime` includes 2 methods, `strptime()` and `strftime()`, for converting objects from strings to datetime objects and vice versa. 
- `strptime()` can read `strings` with date and time information and convert them to `datetime objects`, 
- `strftime()` converts datetime objects back into strings.

In [57]:
my_string = '2001-05-04'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

2001-05-04 00:00:00
Type:  <class 'datetime.datetime'>

You may also have noticed that a time of 00:00:00 has been added to the date. Thatâ€™s because we created a datetime object, which must include a date and a time. 00:00:00 is the default time that will be assigned if no time is designated in the string weâ€™re inputting.

|Directive |Meaning                                 | Example                           |
|----------|-----------------                       | ----------------------------------| 
|%a        |Weekday as localeâ€™s abbreviated name.   | Sun, Mon, â€¦, Sat (en_US);
|%A        |Weekday as localeâ€™s full name.          | Sunday, Monday, â€¦, Saturday (en_US);
|%w        |Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.| 0, 1, â€¦, 6
|%d        |Day of the month as a zero-padded decimal number.| 01, 02, â€¦, 31
|%b        |Month as localeâ€™s abbreviated name.|Jan, Feb, â€¦, Dec (en_US);
|%B        |Month as localeâ€™s full name.|January, February, â€¦, December (en_US);
|%m        |Month as a zero-padded decimal number.|01, 02, â€¦, 12
|%y        |Year without century as a zero-padded decimal number.|00, 01, â€¦, 99
|%Y        |Year with century as a decimal number.|1970, 1988, 2001, 2013
|%H        |Hour (24-hour clock) as a zero-padded decimal number.|00, 01, â€¦, 23
|%I        |Hour (12-hour clock) as a zero-padded decimal number.|01, 02, â€¦, 12
|%p        |Localeâ€™s equivalent of either AM or PM.|AM, PM (en_US);
|%M        |Minute as a zero-padded decimal number.|00, 01, â€¦, 59
|%S        |Second as a zero-padded decimal number.|00, 01, â€¦, 59
|%f        |Microsecond as a decimal number, zero-padded on the left.|000000, 000001, â€¦, 999999
|%z        |UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive).|(empty), +0000, -0400, +1030
|%Z        |Time zone name (empty string if the object is naive).|(empty), UTC, EST, CST
|%j        |Day of the year as a zero-padded decimal number.|001, 002, â€¦, 366
|%U        |Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.|00, 01, â€¦, 53
|%W        |Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.|00, 01, â€¦, 53

In [59]:
print('Month: ', my_date.month) # To Get month from date
print('Year: ',  my_date.year)  # To Get month from year

Month:  5
Year:  2001

##### Getting Day of the Month and Day of the Week from a Date

In [66]:
print('Day of Month:', my_date.day)
print('Day of Week (number): ', my_date.weekday())

Day of Month: 4
Day of Week (number):  4

In [67]:
# import calendar module
import calendar

In [68]:
# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Week (name):  Friday

In [69]:
# get current date
datetime_object = datetime.now()
# to get name of day from date
print('Day of Week (name): ', calendar.day_name[datetime_object.weekday()])

Day of Week (name):  Saturday

But ...

0 is Sunday 
1 is Monday
2 is Tuesday
3 is wednesday
4 is thursday
5 is Friday
and 6 is Saturday.

In [70]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

##### Getting Hours and Minutes From a Python Datetime Object

In [71]:
todays_date = datetime.now()

# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour:  21
Minute:  23

##### Getting Week of the Year from a Datetime Object

- We can get the year, week of the year, and day of the week from a datetime object with the `.isocalendar()` function.
- Specifically, isocalendar() returns a tuple with 
    - ISO year, 
    - week number and 
    - weekday. 
- The ISO calendar is a widely-used standard calendar  
- it works as a regular calendar, starting each week on Monday.

In [72]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday).
todays_date.isocalendar()

(2021, 2, 6)

Note that in the ISO calendar, the week starts counting from 1, so 5 represents : `Friday`.