In [1]:
import mysql.connector

In [6]:
# MySQL connection configuration
config = {
    'user': 'bks',
    'password': 'Bhupen@00',
    'host': 'localhost',
    'database': 'bks',
    'auth_plugin': 'mysql_native_password'
}

In [17]:
# Establish the connection
try:
    connection = mysql.connector.connect(**config)
    if connection.is_connected():
        print("Connected to MySQL database!")
except mysql.connector.Error as e:
    print("Error while connecting to MySQL:", e)
# finally:
#     # Close the connection
#     if 'connection' in locals() and connection.is_connected():
#         #connection.close()
#         print("MySQL connection closed.")

Connected to MySQL database!

In [18]:
# Function to create a new table
def create_table():
    try:

        cursor = connection.cursor()
        cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                            id INT AUTO_INCREMENT PRIMARY KEY,
                            name VARCHAR(100) NOT NULL,
                            age INT NOT NULL,
                            salary FLOAT NOT NULL
                        );''')
        connection.commit()
        print("Table 'employees' created successfully.")
    except mysql.connector.Error as error:
        print(f"Error while creating table: {error}")

In [19]:
create_table()

Table 'employees' created successfully.

In [22]:
# Function to insert a new record
def insert_record(name, age, salary):
    try:
        cursor = connection.cursor()
        query = "INSERT INTO employees (name, age, salary) VALUES (%s, %s, %s);"
        data = (name, age, salary)
        cursor.execute(query, data)
        connection.commit()
        print("Record inserted successfully.")
    except mysql.connector.Error as error:
        print(f"Error while inserting record: {error}")
    # finally:
    #     if connection.is_connected():
    #         cursor.close()
    #         connection.close()

In [23]:
# Create new records
insert_record('John Doe', 30, 50000.0)
insert_record('Jane Smith', 28, 45000.0)

Record inserted successfully.
Record inserted successfully.

In [24]:
# Function to read all records
def read_records():
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM employees;")
        records = cursor.fetchall()
        return records
    except mysql.connector.Error as error:
        print(f"Error while reading records: {error}")
    # finally:
    #     if connection.is_connected():
    #         cursor.close()
    #         connection.close()

In [25]:
# Read all records
records = read_records()
print("All records:")
for record in records:
    print(record)

All records:
(1, 'John Doe', 30, 50000.0)
(2, 'Jane Smith', 28, 45000.0)