--------------------
### Coding exercise qustions
- PANDAS
----------------------

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'A': np.random.rand(10), 'B': np.random.rand(10)}
df = pd.DataFrame(data)

In [3]:
# Question 1: Display the first 5 rows of the DataFrame.

In [4]:
# Question 2: Check the data types of each column in the DataFrame.

In [5]:
# Question 3: Calculate the mean of column 'A'.

In [ ]:
# Question 4: Calculate the maximum value in column 'B'.

In [ ]:
# Question 5: Select rows where column 'A' is greater than 0.5.

In [6]:
# Question 6: Sort the DataFrame by column 'B' in ascending order.

In [7]:
# Question 7: Group the DataFrame by column 'A' and calculate the mean of column 'B' for each group.

In [8]:
# Question 8: Create a new DataFrame by merging two DataFrames with a common key column.
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value2': [4, 5, 6]})

In [9]:
# Question 10: Create a bar plot of column 'A'.

In [10]:
# Question 11: Create a scatter plot of column 'A' against column 'B'.

In [ ]:
# Question 12: Create a histogram of column 'B'.

In [ ]:
# Question 13: Create a line plot of column 'A'.

In [11]:
# Question 14: Create a box plot of both columns 'A' and 'B'.

In [ ]:
# Question 15: Create a stacked bar plot of columns 'A' and 'B'.

In [12]:
# Question 16: Create a density plot of column 'A'.